<div class="col-10 offset-1 about">
  <h1> About Splurty </h1>

  <p> 
    Splurty was developed by <a target="_blank" href="https://github.com/mikeluc"> Miguel </a> a Web and App developer / Design student with a drive to learn and improve his coding skills. Currently his goal is to become profficient enough in the web developer tools and create digital products that will impact peoples lives in meaningful ways. 
  </p>

  <br />

  <p> 
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row"> 
    <div class="col-12 sol-sm-4">
        <%= image_tag 'IMG_0209.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Miguel Lucas</h2>

      <br />

      <p> 
      Miguel Lucas is a student completing his Associates In web Design and Development. Recently worked with the Hispanic Heritage Foundation's Coding as a Second Language initiative. To bring tech skills to underepresented groups. In an earlier life he was still a student.
      </p>



    </div>

  </div>

  <br class="clear" />

</div>

<br class="clear" />
<br /> 
<br />
<br />
<br />